<div>
    Click To <a (click)="ShowAlert(0)" href="javascript:void(0)">View information alert</a>
</div>

<div>
    Click To  <a (click)="ShowAlert(1)" href="javascript:void(0)">View success alert</a>
  </div>

<div>
    Click To  <a (click)="ShowAlert(2)"  href="javascript:void(0)"> View error alert</a>
</div>

<div>
    Click To  <a  (click)="ShowAlert(3)" href="javascript:void(0)">View notice alert</a>
</div>
