<div class="o-page o-page--center">
  <div class="o-page__card u-mt-large" style="width:450px;">
    <div class="c-card c-card--center login-card u-mt-large">
      <span class="c-icon c-icon--large u-mb-small">
        <img src="assets/img/logo.png">
      </span>
      <h5>Log in</h5>
      <h6>with your SunPay Merchant Account</h6>
      <form class="u-mt-medium">
        <div class="c-field">
          <label class="c-field__label">Email</label>
          <input class="c-input u-mb-small" type="email" required />
        </div>

        <div class="c-field">
          <label class="c-field__label">Password</label>
          <input class="c-input u-mb-small" type="password" required />
        </div>

        <div class="c-field u-text-right">
          <button type="button" class="c-btn c-btn--info c-btn--fullwidth" (click)="login()" [promiseBtn]="psb">Login</button>
        </div>
      </form>
    </div>
    <div class="alert alert-info outline u-my-medium u-text-center">
      <button class="c-btn c-btn--outline">Can Remember Your Password? Click To Reset</button>
    </div>
  </div>
</div>