<div class="row">
  <!--Overiew 1-->
  <div class="col-12">
    <div class="c-card is-animated u-bg-fancy">
      <h5>Merchants</h5>
      <div class="row u-mv-small">
        <div class="col-md-4">
          <div class="border-right">
            <h4 class="c-state-card__title">New</h4>
            <span class="c-state-card__number">45</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-up"></i> 23% Increase
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="border-right">
            <h4 class="c-state-card__title">Total</h4>
            <span class="c-state-card__number">540</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-down"></i> 12% Decrease
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <h4 class="c-state-card__title">Revenue</h4>
            <span class="c-state-card__number">$45,000</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-up"></i> 65% Increase
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--Overiew 2-->
  <div class="col-12">
    <div class="c-card is-animated u-p-zero">
      <div class="c-card-header">
        <div class="row">
          <div class="col-3">
            <h5>Ledgers Summary</h5>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-4 offset-md-8">
                <div class="c-select">
                  <select class="c-select__input">
                    <option>Today</option>
                    <option>This Week</option>
                    <option>This Month</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-card-body">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      </div>
      <div class="c-card-header">
        <div class="row">
          <div class="col-3">
            DR. &#8358; 800,000
          </div>
          <div class="col-3">
            CR. &#8358; 1,800,000
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--Overiew 3-->
  <div class="col-12">
    <div class="c-card is-animated">
      <h5>Users</h5>

    </div>
  </div>
</div>

<div class="c-modal modal fade onboarding-modal animated fadeInUp"
 id="mdOnboard" tabindex="-1" role="dialog" aria-labelledby="mdOnboard">
  <div class="c-modal__dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="c-card u-p-zero gu-shadow" style="max-width:500px;">
        <div class="onboarding-slider-w">
          <div class="onboarding-slide">
            <div class="onboarding-media">
              <img alt="" src="assets/img/bigicon2.png" width="200px" />
            </div>
            <div class="onboarding-content with-gradient u-text-center">
              <h3 class="onboarding-title">Welcome To SunvaitPay</h3>
              <div class="onboarding-text">Transactions made easy, in foreign or local currency.</div>
              <div class="onboarding-text u-mt-small">Verify Below</div>
              <form>
                <div class="row u-pv-medium">
                  <div class="col-sm-12">
                    <div class="form-group u-text-left">
                      <label>BVN</label>
                      <input class="c-input" placeholder="" type="text" value="" />
                    </div>
                  </div>
                  <div class="col-sm-12 u-mt-small">
                    <div class="form-group u-text-left">
                      <label>Phone Number</label>
                      <input class="c-input" placeholder="" type="text" value="" />
                    </div>
                  </div>
                  <div class="col-sm-12 u-mt-small">
                    <button class="c-btn c-btn--info">
                      Submit Credentials
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="onboarding-slide">
            <div class="onboarding-media">
              <img alt="" src="assets/img/bigicon6.png" width="200px" />
            </div>
            <div class="onboarding-content with-gradient u-text-center">
              <h4 class="onboarding-title">Our App Features</h4>
              <div class="row">
                <div class="col-sm-6">
                  <ul class="features-list">
                    <li>Fully Responsive</li>
                    <li>Pre-built app layouts</li>
                    <li>Incredible Flexibility</li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="features-list">
                    <li>Boxed & Full Layouts</li>
                    <li>Based on Bootstrap 4</li>
                    <li>Developer Friendly </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="onboarding-slide">

            <div class="onboarding-media"><img alt="" src="assets/img/bigicon5.png" width="200px"></div>
            <div class="onboarding-content with-gradient u-text-center">
              <h4 class="onboarding-title">Thank You For Choosing </h4>
              <div class="onboarding-text">Sunvait Pay.</div>
              <a class="u-mt-medium c-btn c-btn--outline" data-dismiss="modal" [routerLink]="['/merchant/settings']">
                View Profile
              </a>
            </div>
          </div>
        </div>
        <button type="button" class="c-btn c-btn--success gu-hide" data-toggle="modal" data-target="#mdOnboard" id="trigger_onboard">
          Launch Onboard modal
        </button>
      </div>
    </div>
  </div>
</div>