<div class="o-page o-page--center">
  <div class="o-page__card" style="width: 65%;">
    <div class="c-card c-card--center login-card u-mt-medium">
      <form class="u-mv-medium">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col u-text-left">
                <span class="c-icon c-icon--large u-mb-small">
                  <img src="assets/img/logo.png">
                </span>
              </div>
            </div>
            <div class="row u-mb-small">
              <div class="col u-text-left">
                <h5>Create Your SunvaitPay Account</h5>
              </div>
            </div>
            <div class="row u-mt-medium">
            </div>
            <div class="row">
              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Country</label>
                  <select class="c-select__input">
                    <option>
                      Nigeria
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Business Name</label>
                  <input class="c-input u-mb-small" type="text" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Email</label>
                  <input class="c-input u-mb-small" type="email" required />
                </div>
              </div>
              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Phone</label>
                  <input class="c-input u-mb-small" type="email" required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Password</label>
                  <input class="c-input u-mb-small" type="password" required />
                </div>
              </div>

              <div class="col">
                <div class="c-field">
                  <label class="c-field__label">Confirm Password</label>
                  <input class="c-input u-mb-small" type="password" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
            <div class="c-field u-text-left">
              <button type="button" class="c-btn u-bg-fancy" (click)="register()" [promiseBtn]="psb">Create Account</button>
            </div>
          </div>
          </div>
          </div>
          <div class="col-md-4" style="padding:0">
                <img src="assets/img/signup.svg" style="margin-top:40%"/>
          </div>
        </div>
      </form>
    </div>
    <div class="alert alert-info outline u-my-medium u-text-center">
      <a [routerLink]="['/merchant/login']" class="c-btn c-btn--outline">Already Have An Account? Log In Here</a>
    </div>
  </div>
</div>