<div>
  <h4 class="u-border-bottom">Profile</h4>
  <div class="row">
    <div class="col-md-8 u-p-medium">
      <ul class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
        <li><a class="c-tabs__link active show" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="true">Personal</a></li>

        <li><a class="c-tabs__link" id="nav-business-tab" data-toggle="tab" href="#nav-business" role="tab" aria-controls="nav-business"
            aria-selected="false">Business</a></li>
      </ul>
      <div class="c-tabs__content tab-content u-mb-large" id="nav-tabContent">
          <div class="c-tabs__pane u-pb-medium active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="row">
                  <div class="col">
                    <div class="c-field">
                      <label class="c-field__label">Surname</label>
                      <input type="text" name="surname" class="c-input" required />
                    </div>
                  </div>
                  <div class="col">
                    <div class="c-field">
                      <label for="account" class="c-field__label">First Name</label>
                      <input type="text" name="firstName" class="c-input" required />
                    </div>
                  </div>
                  <div class="col">
                    <div class="c-field">
                      <label for="gender" class="c-field__label">Gender</label>
                      <select type="text" name="gender" class="c-input" required aria-required="true">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col">
                    <div class="c-field">
                      <label for="state" class="c-field__label">State/Province</label>
                      <select name="state" class="c-input" required aria-required="true">
                        <option value="male">Lagos</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="c-field">
                      <label for="city" class="c-field__label">City</label>
                      <select name="city" class="c-input" required aria-required="true">
                        <option value="male">Ikeja</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="c-field">
                  <label for="address" class="c-field__label">Personal Address</label>
                  <input type="text" name="address" class="c-input">
                </div>
                <div class="row">
                  <div class="col">
                    <div class="c-field">
                      <label for="id" class="c-field__label">Means of Identification</label>
                      <select name="id" class="c-input" required aria-required="true">
                        <option value=""></option>
                        <option value="passport">Interational Passport</option>
                        <option value="license">Driver's License</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="c-field">
                      <label for="bvn" class="c-field__label">ID Number</label>
                      <input type="text" name="IDnumber" id="" class="c-input" required aria-required="true">
                    </div>
                  </div>
                </div>
  
  
                <div class="c-field">
                  <label for="bvn" class="c-field__label">BVN <small class="u-color-secondary"><em>(For Nigerians Only)</em></small></label>
                  <input type="text" name="bvn" id="" class="c-input" required aria-required="true">
                </div>
  
          </div>

          <div class="c-tabs__pane u-pb-medium" id="nav-business" role="tabpanel" aria-labelledby="nav-business-tab">
         
                  <div class="c-field">
                    <label for="gender" class="c-field__label">Business Name</label>
                    <input type="text" name="businessName" class="c-input" required aria-required="true">
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="c-field">
                        <label for="gender" class="c-field__label">Nature Of Business</label>
                        <select name="businessName" class="c-input" required aria-required="true">
                          <option>
                            Advertising
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="c-field">
                        <label for="yearOfIncorporation" class="c-field__label">Year Of Incorporation</label>
                        <input type="text" name="yearOfIncorporation" class="c-input" required>
                      </div>
                    </div>
                    <div class="col">
                      <div class="c-field">
                        <label for="RCNo" class="c-field__label">RC No.</label>
                        <input type="text" name="RCNo" class="c-input" required>
                      </div>
                    </div>
                  </div>
                  <div class="c-field">
                    <label for="address" class="c-field__label">Incorporation Doument</label>
                    <input type="file" name="address" class="c-input" accept="image/*">
                  </div>
                  <div class="c-field">
                    <label for="website" class="c-field__label">Official Website</label>
                    <input type="text" name="website" class="c-input">
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="c-field">
                        <label for="state" class="c-field__label">State/Province</label>
                        <select name="state" class="c-input" required aria-required="true">
                          <option value="male">Lagos</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="c-field">
                        <label for="city" class="c-field__label">City</label>
                        <select name="city" class="c-input" required aria-required="true">
                          <option value="male">Ikeja</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="c-field">
                    <label for="address" class="c-field__label">Office Address</label>
                    <input type="text" name="address" class="c-input">
                  </div>
    
                  <h4 class="u-mt-medium u-border-bottom u-color-info">
                    Primary Person's Details
                  </h4>
                  <div class="row">
                    <div class="col">
                      <div class="c-field">
                        <label class="c-field__label">Surname</label>
                        <input type="text" name="surname" class="c-input" required />
                      </div>
                    </div>
                    <div class="col">
                      <div class="c-field">
                        <label for="account" class="c-field__label">First Name</label>
                        <input type="text" name="firstname" class="c-input" />
                      </div>
                    </div>
    
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="c-field">
                        <label for="phoneNumber" class="c-field__label">Phone Number</label>
                        <input type="text" name="phoneNumber" class="c-input">
                      </div>
                    </div>
                  </div>
    
                  <div class="c-field">
                    <label for="address" class="c-field__label">Personal Address</label>
                    <input type="text" name="address" id="" class="c-input">
                  </div>
                  <div class="c-field">
                    <label for="id" class="c-field__label">Means of Identification</label>
                    <select name="id" class="c-input" required aria-required="true">
                      <option value=""></option>
                      <option value="passport">Interational Passport</option>
                      <option value="license">Driver's License</option>
                    </select>
                  </div>
                  <div class="c-field">
                    <label for="bvn" class="c-field__label">ID Number</label>
                    <input type="text" name="IDnumber" id="" class="c-input" required aria-required="true">
                  </div>
                  <div class="c-field">
                    <label for="bvn" class="c-field__label">BVN <small class="u-color-secondary"><em>(For Nigerians Only)</em></small>
                    </label>
                    <input type="text" name="bvn" id="" class="c-input" required aria-required="true">
                  </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="u-p-medium u-mb-medium">
        <div class="u-text-center">
          <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
            <img class="c-avatar__img" src="assets/img/avatar.jpg" alt="Adam's Face">
          </div>

          <h3 class="u-h5">Tosin Vaughn</h3>
          <p>Kleenex Stores Enterprise</p>
          <span class="u-text-mute u-text-small">Victoria Island, Lagos Nigeria</span>
        </div>

        <div class="u-flex u-mt-medium">
          <a class="c-btn c-btn--info c-btn--fullwidth u-mr-xsmall" href="#">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid u-p-medium u-bg-secondary u-border-rounded gu-hide">
  <div class="row ">
    <div class="col-12">
      <form class="u-mt-medium ">
        <div class="c-card u-color-secondary">
          <div class="c-field">
            <label for="accountType" class="c-field__label">Account type</label>
            <select name="accountType" (input)="checkInputValue($event)" class="c-input">
              <option value="null"></option>
              <option value="personal">Personal</option>
              <option value="business">Business</option>
            </select>
          </div>
          <div [ngSwitch]="accountType">

            <div *ngSwitchCase="'personal'">
            
            </div>

            <div *ngSwitchCase="'business'">
              <h4 class="u-mt-medium u-border-bottom u-color-info">
                Business Details
              </h4>
              <div class="c-field">
                <label for="gender" class="c-field__label">Business Name</label>
                <input type="text" name="businessName" class="c-input" required aria-required="true">
              </div>
              <div class="row">
                <div class="col">
                  <div class="c-field">
                    <label for="gender" class="c-field__label">Nature Of Business</label>
                    <select name="businessName" class="c-input" required aria-required="true">
                      <option>
                        Advertising
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="c-field">
                    <label for="yearOfIncorporation" class="c-field__label">Year Of Incorporation</label>
                    <input type="text" name="yearOfIncorporation" class="c-input" required>
                  </div>
                </div>
                <div class="col">
                  <div class="c-field">
                    <label for="RCNo" class="c-field__label">RC No.</label>
                    <input type="text" name="RCNo" class="c-input" required>
                  </div>
                </div>
              </div>
              <div class="c-field">
                <label for="address" class="c-field__label">Incorporation Doument</label>
                <input type="file" name="address" class="c-input" accept="image/*">
              </div>
              <div class="c-field">
                <label for="website" class="c-field__label">Official Website</label>
                <input type="text" name="website" class="c-input">
              </div>
              <div class="row">
                <div class="col">
                  <div class="c-field">
                    <label for="state" class="c-field__label">State/Province</label>
                    <select name="state" class="c-input" required aria-required="true">
                      <option value="male">Lagos</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="c-field">
                    <label for="city" class="c-field__label">City</label>
                    <select name="city" class="c-input" required aria-required="true">
                      <option value="male">Ikeja</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="c-field">
                <label for="address" class="c-field__label">Office Address</label>
                <input type="text" name="address" class="c-input">
              </div>

              <h4 class="u-mt-medium u-border-bottom u-color-info">
                Primary Person's Details
              </h4>
              <div class="row">
                <div class="col">
                  <div class="c-field">
                    <label class="c-field__label">Surname</label>
                    <input type="text" name="surname" class="c-input" required />
                  </div>
                </div>
                <div class="col">
                  <div class="c-field">
                    <label for="account" class="c-field__label">First Name</label>
                    <input type="text" name="firstname" class="c-input" />
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <div class="c-field">
                    <label for="phoneNumber" class="c-field__label">Phone Number</label>
                    <input type="text" name="phoneNumber" class="c-input">
                  </div>
                </div>
              </div>

              <div class="c-field">
                <label for="address" class="c-field__label">Personal Address</label>
                <input type="text" name="address" id="" class="c-input">
              </div>
              <div class="c-field">
                <label for="id" class="c-field__label">Means of Identification</label>
                <select name="id" class="c-input" required aria-required="true">
                  <option value=""></option>
                  <option value="passport">Interational Passport</option>
                  <option value="license">Driver's License</option>
                </select>
              </div>
              <div class="c-field">
                <label for="bvn" class="c-field__label">ID Number</label>
                <input type="text" name="IDnumber" id="" class="c-input" required aria-required="true">
              </div>
              <div class="c-field">
                <label for="bvn" class="c-field__label">BVN <small class="u-color-secondary"><em>(For Nigerians Only)</em></small>
                </label>
                <input type="text" name="bvn" id="" class="c-input" required aria-required="true">
              </div>
            </div>
            <div *ngSwitchDefault>
              <div class="row u-p-medium u-bg-dull-white">
                <h2 class="col u-text-uppercase u-text-center u-color-warning">
                  Please Verify Your Account!</h2>
              </div>
            </div>

          </div>
          <div class="c-field">
            <button type="submit" class="c-btn c-btn--fullwidth u-bg-fancy">Verify Account</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>