@font-face {
    font-family: "Product+Sans";
    src: url(Product+Sans/Product\ Sans\ Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Product+Sans";
    src: url(Product+Sans/Product\ Sans\ Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Product+Sans";
    src: url(Product+Sans/Product\ Sans\ Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Product+Sans";
    src: url(Product+Sans//Product\ Sans\ Bold\ Italic.ttf);
    font-weight: 600;
    font-style: italic;
}