<div id="section-roles" class="row" *ngIf="Roles.length>0">
  <div class="col-md-8">
    <div class="c-table-responsive@wide">
      <table class="c-table c-table-hover">
        <thead class="c-table__head">
          <tr class="c-table__row">
            <th class="c-table__cell c-table__cell--head">Role</th>
            <th class="c-table__cell c-table__cell--head">User Count</th>
            <th class="c-table__cell c-table__cell--head">Privileges</th>
          </tr>
        </thead>

        <tbody>
          <tr class="c-table__row" *ngFor="let x of [1,2,3,4,5]">

            <td class="c-table__cell">Customer Service</td>
            <td class="c-table__cell">12</td>
            <td class="c-table__cell">View Customer Profile</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="c-card" data-mh="overview-cards">
      <h5>Users Per Role</h5>
      <div class="c-chart">
        <div class="c-chart__body">

          <!-- Chartist.js uses this class to generate the chart -->
          <div class="pie-chart">
            <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut"
              style="width: 100%; height: 100%;">
              <g class="ct-series ct-series-a">
                <path d="M152.317,144.617A70,70,0,0,0,180,14.378L170,31.699A50,50,0,0,1,150.226,124.726Z" class="ct-slice-donut-solid"
                  ct:value="40"></path>
              </g>
              <g class="ct-series ct-series-b">
                <path d="M75.383,82.317A70,70,0,0,0,152.56,144.591L150.4,124.708A50,50,0,0,1,95.274,80.226Z" class="ct-slice-donut-solid"
                  ct:value="25"></path>
              </g>
              <g class="ct-series ct-series-c">
                <path d="M98.161,22.98A70,70,0,0,0,75.409,82.56L95.292,80.4A50,50,0,0,1,111.543,37.843Z" class="ct-slice-donut-solid"
                  ct:value="15"></path>
              </g>
              <g class="ct-series ct-series-d">
                <path d="M180,14.378A70,70,0,0,0,97.98,23.144L111.414,37.96A50,50,0,0,1,170,31.699Z" class="ct-slice-donut-solid"
                  ct:value="20"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="c-chart__legends">
          <div class="row">
            <div class="col-6">
              <span class="c-chart__legend">
                <i class="c-chart__legend-icon u-bg-info"></i>Customer Service
              </span>
            </div>

            <div class="col-6">
              <span class="c-chart__legend">
                <i class="c-chart__legend-icon u-bg-pink"></i>Merchant Manager
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <span class="c-chart__legend">
                <i class="c-chart__legend-icon u-bg-fancy"></i>App Manager
              </span>
            </div>

            <div class="col-6">
              <span class="c-chart__legend">
                <i class="c-chart__legend-icon u-bg-success"></i>Administrator
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-card u-bg-dull-white">
  <div class="row">
    <div class="col">
      <div class="c-field--inline">
        <label class="c-field__label">Role</label>
        <select class="c-select c-select__input u-mb-small" required>
          <option value="User">User</option>
          <option value="Merchant">Merchant</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="c-field--inline">
        <label class="c-field__label">Name</label>
        <input class="c-input" type="text" name="Name" id="">
      </div>
    </div>
    <div class="col">
      <div class="c-field--inline">
        <label class="c-field__label">Role</label>
        <input class="c-input" type="text">
      </div>
    </div>
  </div>
  <button class="c-btn u-bg-fancy">
    Add New Role
  </button>
</div>

<div class="row" *ngIf="Roles.length<=0">
  No Data

</div>

<div id="popup-form" class="popup">
  <div class="popup__content u-p-medium">
    <div class="popup__header ">
      <div class="popup__left">
        <h5> New Role </h5>
      </div>
      <div class="popup__right">
        <a href="#section-tours" class="popup__close">&times;</a>
      </div>
    </div>


    <form class="u-mt-medium">
      <div class="c-field">
        <label class="c-field__label">Id</label>
        <input class="c-input u-mb-small" type="" required />
      </div>
      <div class="c-field">
        <label class="c-field__label">Name</label>
        <input class="c-input u-mb-small" type="name" required />
      </div>

      <div class="c-field">
        <label class="c-field__label">Priviledge</label>
        <input class="c-select__input u-mb-small" type="priviledge" required />
      </div>

      <div class="c-field u-text-right">
        <button type="button" class="c-btn c-btn--info c-btn--fullwidth" (click)="createRole()" [promiseBtn]="psb">Create
          Role</button>
      </div>
    </form>
  </div>
</div>