<div class="row">
    <div class="col-12">
      <div class="c-table-responsive@wide">
        <table class="c-table c-table-hover">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Name</th>
              <th class="c-table__cell c-table__cell--head">Role</th>
              <th class="c-table__cell c-table__cell--head">Email</th>
              <th class="c-table__cell c-table__cell--head">Last Edit</th>
              <th class="c-table__cell c-table__cell--head">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr class="c-table__row" *ngFor="let x of [1,2,3,4,5]">
              <td class="c-table__cell">
                <div class="o-media align-items-center">
                  <div class="o-media__img u-mr-xsmall">
                    <div class="c-avatar c-avatar--small">
                      <img class="c-avatar__img" src="assets/img/avatar.jpg" alt="Jessica Alba">
                    </div>
                  </div>
                  <div class="o-media__body">
                    <h6>Dele Alli</h6>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">Merchant Manager</td>
              <th class="c-table__cell">223</th>
              <td class="c-table__cell">19-11-2018</td>
              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                    <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>