/*
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #235a94
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .3
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px;
        margin: 1.75rem auto
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px
    }
}
*/
/*
.onboarding-modal .onboarding-media {
    padding-top: 20px;
    text-align: center
}

.onboarding-modal .onboarding-media img {
    margin: 0px auto
}

.onboarding-modal button.close {
    position: absolute;
    top: 15px;
    right: 20px;
    float: none;
    z-index: 999;
    color: #111;
    opacity: 1;
    text-shadow: none
}

.onboarding-modal button.close .os-icon {
    font-size: 12px
}

.onboarding-modal button.close span {
    display: inline-block;
    vertical-align: middle
}

.onboarding-modal button.close .close-label {
    margin-right: 10px;
    color: #C26C6C;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: .81rem
}

.onboarding-modal .onboarding-content {
    padding: 40px 50px
}

.onboarding-modal .onboarding-content.with-gradient {
    padding: 70px 50px 40px;
    background-image: url(../img/onboarding-gradient-hor.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat
}

.onboarding-modal .onboarding-content h1,
.onboarding-modal .onboarding-content h2,
.onboarding-modal .onboarding-content h3,
.onboarding-modal .onboarding-content h4 {
    color: #047bf8;
    margin-bottom: 1.5rem
}

.onboarding-modal .onboarding-content .onboarding-text {
    color: rgba(69, 76, 96, 0.49);
    font-weight: 300;
    font-size: .99rem;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px
}

.onboarding-modal .onboarding-content .onboarding-text:last-child {
    margin-bottom: 10px
}


.onboarding-modal .onboarding-side-by-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.onboarding-modal .onboarding-side-by-side .onboarding-media {
    -webkit-box-flex: 300px;
    -ms-flex: 300px 0 0px;
    flex: 300px 0 0;
    padding: 40px 0px
}

.onboarding-modal .onboarding-side-by-side .onboarding-content {
    padding: 70px 70px 60px
}

.onboarding-modal .onboarding-side-by-side .onboarding-content.with-gradient {
    padding: 70px 70px 60px;
    background-image: url(../img/onboarding-gradient-ver.png);
    background-size: auto 100%;
    background-position: center left;
    background-repeat: no-repeat
}

.onboarding-modal .onboarding-slide .onboarding-side-by-side .onboarding-media {
    padding-bottom: 60px
}

.onboarding-modal .onboarding-slide .onboarding-side-by-side .onboarding-content {
    padding-bottom: 80px
}

.onboarding-modal .onboarding-slide .onboarding-side-by-side .onboarding-content.with-gradient {
    padding-bottom: 80px
}

.onboarding-modal form {
    text-align: left
}

.onboarding-modal .onboarding-text+form {
    margin-top: 30px
}

.onboarding-modal .onboarding-slider-w .onboarding-slide {
    display: none
}

.onboarding-modal .onboarding-slider-w .onboarding-slide:first-child {
    display: block
}

.onboarding-modal .onboarding-slider-w.slick-initialized .onboarding-slide {
    display: block
}

.onboarding-modal.animated .onboarding-media {
    opacity: 0;
    -webkit-transform: translateY(80px) scale(0.8);
    transform: translateY(80px) scale(0.8);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}

.onboarding-modal.animated .onboarding-content {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translateY(40px);
    transform: translateY(40px)
}

.onboarding-modal.animated .onboarding-title {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    opacity: 0
}

.onboarding-modal.animated .onboarding-text {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    opacity: 0
}

.onboarding-modal.animated .features-list,
.onboarding-modal.animated form {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    opacity: 0
}

.onboarding-modal.animated .onboarding-side-by-side .onboarding-content {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
}

.onboarding-modal.show .onboarding-media {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
}

.onboarding-modal.show .onboarding-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.onboarding-modal.show .onboarding-title {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.onboarding-modal.show .onboarding-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.onboarding-modal.show .features-list,
.onboarding-modal.show form {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.onboarding-modal.show .onboarding-side-by-side .onboarding-content {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
}
*/

.onboarding-modal .onboarding-content .features-list {
    text-align: left;
    padding-left: 20px
}

.onboarding-modal .onboarding-content .features-list li {
    margin-bottom: 10px;
    list-style: none;
    position: relative
}

.onboarding-modal .onboarding-content .features-list li:before {
    content: "\e83f";
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    color: #047bf8;
    position: absolute;
    left: -20px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.onboarding-modal .onboarding-media {
    padding-top: 20px;
    text-align: center
}

.onboarding-modal .onboarding-media img {
    margin: 0px auto
}

.onboarding-modal .onboarding-content.with-gradient {
    padding: 70px 50px 40px;
    background-image: url(../img/onboarding-gradient-hor.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat
}
.onboarding-modal .onboarding-side-by-side .onboarding-content.with-gradient {
    padding: 70px 70px 60px;
    background-image: url(../img/onboarding-gradient-ver.png);
    background-size: auto 100%;
    background-position: center left;
    background-repeat: no-repeat
}

.onboarding-modal .onboarding-content h1, .onboarding-modal .onboarding-content h2, .onboarding-modal 
.onboarding-content h3, .onboarding-modal .onboarding-content h4
{
    color: #047bf8;
    margin-bottom: 1.5rem;
}
.onboarding-modal .slick-next,
.onboarding-modal .slick-prev {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: .9rem;
    color: #046fdf;
    bottom: 25px;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    letter-spacing: 1px
}

.onboarding-modal .slick-next.slick-disabled,
.onboarding-modal .slick-prev.slick-disabled {
    opacity: 0
}

.onboarding-modal .slick-next:focus,
.onboarding-modal .slick-prev:focus {
    outline: none
}

.onboarding-modal .slick-next:before,
.onboarding-modal .slick-prev:before {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    color: #047bf8;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.onboarding-modal .slick-next {
    right: 50px
}

.onboarding-modal .slick-next:before {
    content: "\e829";
    right: -20px
}

.onboarding-modal .slick-prev {
    left: 50px
}

.onboarding-modal .slick-prev:before {
    content: "\e828";
    left: -20px
}

.onboarding-modal .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0px;
    margin: 0px
}

.onboarding-modal .slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px
}

.onboarding-modal .slick-dots li button {
    font-size: 0px;
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: #047bf8;
    opacity: 0.2;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer
}

.onboarding-modal .slick-dots li button:hover {
    opacity: 1
}

.onboarding-modal .slick-dots li button:focus {
    outline: none
}

.onboarding-modal .slick-dots li.slick-active button {
    background-color: #047bf8;
    opacity: 1
}

.onboarding-modal .onboarding-slide:focus {
    outline: none
}

.onboarding-modal .onboarding-slide .onboarding-content {
    padding-bottom: 80px
}

.all-wrapper>.top-bar {
    border-radius: 6px 6px 0px 0px
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


@media (min-height: 700px) and (min-width: 768px) {
    .modal-dialog.modal-centered {
        top: 50%;
        -webkit-transform: translate(0, -80%);
        transform: translate(0, -80%);
        margin: 0px auto
    }

    .modal.show .modal-dialog.modal-centered {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        margin: 0px auto
    }
}