<div class="row">
  <!--Overiew 1-->
  <div class="col-12">
    <div class="c-card is-animated u-bg-fancy">
      <h5>Merchants</h5>
      <div class="row u-mv-small">
        <div class="col-md-4">
          <div class="border-right">
            <h4 class="c-state-card__title">New</h4>
            <span class="c-state-card__number">45</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-up"></i> 23% Increase
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="border-right">
            <h4 class="c-state-card__title">Total</h4>
            <span class="c-state-card__number">540</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-down"></i> 12% Decrease
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <h4 class="c-state-card__title">Revenue</h4>
            <span class="c-state-card__number">$45,000</span>
            <p class="c-state-card__status">
              <i class="feather icon-trending-up"></i> 65% Increase
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--Overiew 2-->
  <div class="col-12">
    <div class="c-card is-animated u-p-zero">
      <div class="c-card-header">
        <div class="row">
          <div class="col-3">
            <h5>Ledgers Summary</h5>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-4 offset-md-8">
                <div class="c-select">
                  <select class="c-select__input">
                    <option>Today</option>
                    <option>This Week</option>
                    <option>This Month</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-card-body">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      </div>
      <div class="c-card-header">
        <div class="row">
          <div class="col-3">
            DR. &#8358; 800,000
          </div>
          <div class="col-3">
            CR. &#8358; 1,800,000
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!--Overiew 3-->
  <div class="col-12">
    <div class="c-card is-animated">
      <h5>Users</h5>

    </div>
  </div>
</div>