
    <div class="o-page">


      <div class="container" style="padding-top: 10em;">
        <div class="row u-justify-center">
          <div class="col-lg-6 u-text-center">
            <h2 class="u-mb-small">Welcome To SunPay Demo</h2>
            <p class="u-text-large u-mb-large">Select Your Demo Option.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xl-4 u-ml-auto">
            <div class="c-card is-animated">
              <span class="c-icon c-icon--large u-mb-small">
                <i class="feather icon-home"></i>
              </span>

              <h5 class="u-mb-xsmall">Explore As Administrator</h5>
              <p class="u-mb-medium">Start using our app by exploring the various features that our apps give you </p>
              <a class="c-btn c-btn--info has-arrow" href="/#/admin/login">
                Start<i class="feather icon-chevron-right"></i>
              </a>
            </div>
          </div>

          <div class="col-md-6 col-xl-4 u-mr-auto">
            <div class="c-card is-animated">
              <span class="c-icon c-icon--large u-mb-small">
                <i class="feather icon-anchor"></i>
              </span>

              <h5 class="u-mb-xsmall">Explore as Merchant</h5>
              <p class="u-mb-medium">Start using our app by exploring the various features that our apps give you </p>
              <a class="c-btn c-btn--info has-arrow" href="/#/merchant/signup">Start<i class="feather icon-chevron-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div><!-- // .o-page -->

