<div class="o-page">
  <div class="o-page__sidebar js-page-sidebar">
    <aside class="c-sidebar">
      <div class="c-sidebar__brand">
        <a href="#"><img src="assets/img/logo.png" class="nav-logo"></a>
      </div>

      <!-- Scrollable -->
      <div class="c-sidebar__body">
      <div *ngIf="CurrentUser.AccountTypeID==1">
      <div class="u-ph-medium u-pt-medium u-text-center u-text-uppercase">
        <p class="text-uppercase">Administrator</p>
        </div>
        <ul class="c-sidebar__list u-mt-medium">
          <li>
            <a class="c-sidebar__link" [routerLink]="['dashboard']" id="liDashboard">
              <i class="c-sidebar__icon feather icon-tag"></i>Dashboard
            </a>
          </li>
          <li>
            <a class="c-sidebar__link" [routerLink]="['roles']"  id="liRoles">
              <i class="c-sidebar__icon feather icon-tag"></i>Roles
            </a>
          </li>
          <li>
            <a class="c-sidebar__link" [routerLink]="['users']" id="liUsers">
              <i class="c-sidebar__icon feather icon-tag"></i>Users
            </a>
          </li>
          <li>
            <a class="c-sidebar__link" [routerLink]="['configuration']" id="liConfiguration">
              <i class="c-sidebar__icon feather icon-tag"></i>Configuration
            </a>
          </li>
        </ul>

        <ul class="c-sidebar__list u-mt-medium">
          <li>
            <a class="c-sidebar__link" [routerLink]="['dashboard']">
              <i class="c-sidebar__icon feather icon-tag"></i>Ledgers
            </a>
          </li>
          <li>
            <a class="c-sidebar__link" [routerLink]="['dashboard']">
              <i class="c-sidebar__icon feather icon-tag"></i>Merchants
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="CurrentUser.AccountTypeID==2">
          <div class="u-ph-medium u-pt-medium u-text-center u-text-uppercase">
            <p class="text-uppercase">Merchant</p>
            </div>
            <ul class="c-sidebar__list u-mt-medium">
              <li>
                <a class="c-sidebar__link" [routerLink]="['dashboard']" id="liDashboard">
                  <i class="c-sidebar__icon feather icon-life-buoy"></i>Dashboard
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" [routerLink]="['roles']">
                  <i class="c-sidebar__icon feather icon-users"></i>Payments
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" [routerLink]="['users']">
                  <i class="c-sidebar__icon feather icon-file"></i>Receipts
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" [routerLink]="['settings']">
                  <i class="c-sidebar__icon feather icon-credit-card"></i>Wallet
                </a>
              </li>
            </ul>
    
            <ul class="c-sidebar__list u-mt-medium">
              <li>
                <a class="c-sidebar__link" [routerLink]="['settings']">
                  <i class="c-sidebar__icon feather icon-user"></i>My Profile
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" [routerLink]="['settings']">
                  <i class="c-sidebar__icon feather icon-tag"></i>Verify Business
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" [routerLink]="['dashboard']">
                  <i class="c-sidebar__icon feather icon-settings"></i>Integrations
                </a>
              </li>
            </ul>
          </div>
      </div>
    </aside>
  </div>

  <main class="o-page__content">
    <header class="c-navbar u-mb-medium">
      <button class="c-sidebar-toggle js-sidebar-toggle">
        <i class="feather icon-align-left"></i>
      </button>
        <h2 class="c-navbar__title">
          Hi, Tosin
        </h2>

      <div class="c-dropdown dropdown u-mr-small">
        <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuToggle1">
          <span class="c-dropdown__menu-header">
            Mentions
          </span>
          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-avatar c-avatar--xsmall">
                  <img class="c-avatar__img" src="assets/img/avatar.jpg" alt="Sun Admin">
                </span>
              </div>

              <div class="o-media__body">
                <p>Hey, Julia how are you doing. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  eius iste.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-avatar c-avatar--xsmall">
                  <img class="c-avatar__img" src="assets/img/avatar2-72.jpg" alt="SunPay Admin">
                </span>
              </div>

              <div class="o-media__body">
                <p>Hey, Julia how are you doing. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  eius iste.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-avatar c-avatar--xsmall">
                  <img class="c-avatar__img" src="img/avatar3-72.jpg" alt="SunPay Admin">
                </span>
              </div>

              <div class="o-media__body">
                <p>Hey, Julia how are you doing. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  eius iste.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__menu-footer">
            All Mentions
          </a>
        </div>
      </div>

      <div class="c-dropdown dropdown u-mr-medium">

        <div class="c-notification dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" role="button">
          <i class="c-notification__icon feather icon-bell"></i>
        </div>

        <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuToggle2">

          <span class="c-dropdown__menu-header">
            Notifications
          </span>
          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-icon c-icon--info c-icon--xsmall"><i class="feather icon-globe"></i></span>
              </div>

              <div class="o-media__body">
                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's
                  services.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-icon c-icon--danger c-icon--xsmall"><i class="feather icon-x"></i></span>
              </div>

              <div class="o-media__body">
                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's
                  services.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__item dropdown-item" href="#">
            <div class="o-media">
              <div class="o-media__img u-mr-xsmall">
                <span class="c-icon c-icon--success c-icon--xsmall"><i class="feather icon-anchor"></i></span>
              </div>

              <div class="o-media__body">
                <p>We've updated the Stripe Services agreement and its supporting terms. Your continueduse of Stripe's
                  services.</p>
              </div>
            </div>
          </a>

          <a class="c-dropdown__menu-footer">
            All Notifications
          </a>
        </div>
      </div>

      <div class="c-dropdown dropdown">
        <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" role="button">
          <img class="c-avatar__img" src="assets/img/avatar.jpg" alt="SunPay Admin">
        </div>

        <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
          <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
          <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
          <a class="c-dropdown__item dropdown-item" href="#">Log out</a>
        </div>
      </div>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </main>
</div>